.sidePanel {
    position: fixed; /* Fixa no viewport */
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh; /* altura total da tela */
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); /* Começa fora da tela pela direita */
    transition: transform 0.3s ease-in-out; /* anima transform em 0.3s */
    z-index: 1000;
    padding: 2rem;
  }
  
  .sidePanel.enter {
    transform: translateX(0%);
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .closeBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  